.dashboard{
    background-color: crimson;
}
.private-nav{
    background-color: black;
}

.link1{
    background-color: lightseagreen;
}
.link2{
    background-color: rgb(88, 32, 178);
}
.link3{
    background-color: rgb(129, 178, 32);
}