.others{
    background-color: #17171A;
    padding: 80px 0px 0px 0px;
}
.custom-card{
    background-color: #121214;
    transition: 1s;
}
.custom-card:hover{
    box-shadow: 1px 1px 5px rgb(15, 152, 221);
    border: 1px solid rgb(15, 152, 221);
}